/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: lightgray;
}
.m-20{
    margin: 20px;
}

/* UTILITY */
.wrap{
    /* background-color: lightblue; */
    height: 100vh;
    width: 100%;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    
}

/* VISUAL AREA */
.visual-area{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height:calc(100% - 100px);
}


/* UPGRADE ARIA */
.upgrade-aria{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    height: 60px;
    color: white;
    background-color: black;
}
.upgrade-b{
    color:white;
    border: 1px solid white;
    height: 30px;
    padding: 0 25px;

}
.logo{
    margin: 10px;
    display: flex;
    align-items: center;
}
/* MENU AREA */
.menu-area{
height: calc(100vh - 160px);
width: 150px;
background-color: black;
}
.menu-home{
    padding: 10px;
    line-height: 25px;
}
.playlist-menu{
    padding: 10px;
}
.titolo-playlist{
    margin: 0 10px 10px 0;
    color: white;
}
.create-playlist{
    color: white;
}
.add{
    color: black;
    background-color: lightgrey;
    height: 30px;
    width: 30px;
    text-align: center;
    align-content: center;
}
.newplaylist{

}

/* SCROLL AREA */
.scroll-area{
    height: calc(100vh - 160px);
    width: calc(100% - 150px);
    overflow: auto;
    /* DEBUG */
    background-color:blue;

}
/* /VISUAL AREA  */



/* CONTROL AREA */

.control-area{
    width: 100%;
    height: 100px;
    /* DEBUG */
    background-color: red;
}
