/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
img{
    max-width:100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: gray;
}
.m-20{
    margin: 20px;
}
.gray{
    color: gray;
}
.wh{
    color: white;
}

/* UTILITY */
.wrap{
    /* background-color: lightblue; */
    height: 100vh;
    width: 100%;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    
}
.sub{
    padding: 5px;
    color: gray;
    font-size: 11px;
    }
.mini-icon{
    height: 3px;
    width: 3px;
}
.writehide{
    display: inline;
}


/* VISUAL AREA */
.visual-area{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height:calc(100% - 100px);
}
.sdescription{
    color: white;
    font-size: 13px;
}


/* UPGRADE ARIA */
.upgrade-aria{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    height: 60px;
    color: white;
    background-color:#080b12;
}
.upgrade-b{
    color:white;
    border: 1px solid white;
    height: 30px;
    padding: 0 25px;
    margin-right: 10px;

}
.logo{
    gap: 6px;
    height: 30px;
    width: 30px;
    margin: 10px;
    display: flex;
    align-items: center;
}
/* MENU AREA */
.menu-area{
    padding: 0 5px;
width: 200px;
background-color: black;
display: flex;
flex-wrap: wrap;
}
.menu-home{
    padding: 0 10px;
    line-height: 25px;
}
.playlist-menu{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.titolo-playlist{
    margin: 10px 10px 10px 0;
    color: white;
}
.create-playlist{
    color: gray;
    display: flex;
    align-items: center;
    gap: 10px;
}
.add{
    color: black;
    background-color: grey;
    height: 25px;
    width: 25px;
    text-align: center;
    align-content: center;
}
.newplaylist{
    font-size: 13px;
    margin-top: 20px;
    gap: 10px;

}
.footer-playlist{
    width: 100%;
    align-content: flex-end;
   
}
.footer-menu{
    color: gray;
    padding: 10px;
}

.hrmenu{
   display:inline-block;
    margin: 0 0 0 10px;
    width: 120px;
    border-color: gray;
}
.instapp{
    width: 10px;
}
.user-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
color: white;
padding: 10px;
}
.jd{
    background-color: gray ;
    border-radius: 50%;
    height: 25px;
    width: 25px;

}

/* SCROLL AREA */
.scroll-area{
    height: calc(100vh - 160px);
    width: calc(100% - 200px);
    overflow: auto;
background-color: #141922;

}
.menu-scroll{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.rplay{
    color: white;
    font-size: 22px;
    padding: 5px;
}

.firstrow-scroll{
    display: flex;
    flex-wrap: wrap;
}
.col-scroll{
    position: relative;
    text-align: center;
    width: calc(100% / 6);
    padding 20px;
    padding: 5px;
    
}
.secondraw-scroll{
    display: flex;
    flex-wrap: wrap;
}


.circle{
    display: flex;
    border-radius:50% ;
}
.img-song{
    position: relative;
    z-index: 3;
    
}
.card-cover{
    position: relative;
    width: 100%;
}
.playbhover{
    color: white;
    font-size: 100px;
    padding-top: 25%;
    
   
    
}

.shadow-play{
    position: absolute;
    height: 98%;
    top: 0px;
    width: 100%;
    text-align: center;
    z-index: 2;
    background-color:rgba(0, 0, 0, 0.6);
    
}
/* /VISUAL AREA  */



/* CONTROL AREA */

.control-area{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    background-color:#282828;
    padding: 10px;
    color: white;
    align-items: center;
    text-align: center;
    
}
.control-left{
    display: flex;
    flex-wrap: wrap;
    width: 25%;
}


.imgsinister{
    margin: 5px;
    height: 35px;
    width: 35px;
}
.sinister{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}
.subsin{
    color: gray;
    font-size: 11px;
}
.subdescription{
    color: white;
    font-size: 13px;

}
.shortcut{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    color: gray;
    margin-left: 15px;
}
/* controlmid */
.control-mid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
}

.controlboard{
    width: 50%;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.linecontroll{
    border-radius: 3px;
    border: 2px solid gray;
    width: 70%;
    display: flex;
    flex-wrap: wrap;

}
/* control right */
.control-right{
    width: 25%;
    padding-bottom: 15px;
}
.rightboard{
    align-items: center;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-left: 15px;

}
.hr-vol{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    border: 2px solid gray;
    height: 2px;

}


/* HOVER */
a:hover{
    color: white;
}
.big:hover{
    transform:scale(2) ;
}
.lbig:hover{
    transform: scale(1.1);
}

.shadow-left:hover{
    box-shadow: -5px 0px 0px 0px green;

}
.shadow-bot:hover{
    box-shadow: 0px 2px 0px 0px green;
}
.card-cover:hover .img-song{
    z-index: 1;
    
}







/* MEDIA QUERY */
@media screen and (max-width: 878px) {
    .col-scroll{
        
        width: calc(100% / 4);}
        
        .menu-scroll{
           
            gap: 60px;
            padding-bottom;: 5px
           
        }
        
 
}
@media screen and (max-width: 639px){
    .col-scroll{
        
        width: calc(100% / 2);}

}

 
@media screen and (max-width: 552px){
    .scroll-area{
        width:calc(100% - 50px) ;
    }
    .menu-area{
        width: 50px;
    }

   .newplaylist{
    display: none;
   }
   .create-playlist{
    display: none;
   }
   .writehide{
    display: none;
   }

   .hrmenu{
    display: none;
   }

}